#target entities can be supplied either here or as the second 
#command line argument. Need to be enclosed in quotes if supplied
#on the command line. Command line arguments override this 
#config file.
sa.entities=windows 8,microsoft

#specify the type of input (text or dir or file).
#This can also be supplied on the command line as the 
#third argument. Command line arguments override this 
#config file.
sa.input.type=dir

#you can supply input either through this property 
#or as the fourth command line argument. If you are 
#mentioning your input on the command line then enclose 
#it in quotes (it can be filename or text or directory).
#If you are mentioning the input here then do not enclose it 
#in quotes but take care to remove any occurrences of '=' in it.
#Note that command line arguments override this config file. 
sa.input=data/testData

#path to the file in which output should be written to
sa.output.filepath=data/sa.out

#paths to the various models used
sa.model.parser.stanford=data/models/stanford/englishPCFG.ser.gz
sa.model.sd.opennlp=data/models/opennlp/en-sent.bin
sa.model.sentence-level-sentiment=data/models/sentiment/sentence-polarity_withNeg.model.80_70_82_88

#paths to the dictionaries
sa.dict.sentiments=data/sentiFiles/AFINN-111_modified.txt
sa.dict.emphatics=data/sentiFiles/emphaticsDict.txt

#path to rule files
sa.rules.ent-senti-relation=data/sentiFiles/entity_sentiment_relation.rules
sa.rules.negation=data/sentiFiles/negation.rules

#if you want the system to resolve pronouns/co-references as well
#then supply 'true', otherwise, 'false'. Note that coreference 
#resolution is very slow.
sa.coref.resolve=false

#URL of the BART Coreference resolution server.
#The server needs to be up and running while the 
#application is running.
sa.coref.bart.url=http://localhost:8125/BARTDemo/ShowText/process/